<section fxLayout="column"
         fxLayoutAlign="start stretch">
  <section class="p8"
           fxLayout="row | wrap"
           fxLayoutAlign="start center">
    <button mat-stroked-button
            class="m4"
            (click)="add()">Add Document</button>
  </section>
  <async-container searchLabel="Search Documents"
                   [src]="docSrc"
                   (query)="setQuery($event)">
    <section *ngIf="query && query.data.length > 0"
             fxLayout="row | wrap"
             fxLayoutAlign="start start"
             class="p8">
      <doc-card *ngFor="let doc of query.data"
                [doc]="doc">
        <button mat-menu-item
                (click)="view(doc)">View</button>
        <button mat-menu-item
                (click)="fill(doc)">Fill</button>
        <button mat-menu-item
                (click)="edit(doc)">Edit</button>
        <button mat-menu-item
                class="color-warn"
                (click)="remove(doc)">Remove</button>
        <mat-divider></mat-divider>
        <button mat-menu-item
                (click)="clone(doc)">Clone</button>
      </doc-card>
    </section>
  </async-container>
</section>
