<section fxLayout="column"
         fxLayoutAlign="start stretch">
  <section class="p8"
           fxLayout="row | wrap"
           fxLayoutAlign="start center">
    <button mat-stroked-button
            class="m4"
            (click)="add()">Add Template</button>
  </section>
  <async-container searchLabel="Search Templates"
                   [src]="docTSrc"
                   (query)="setQuery($event)">
    <section *ngIf="query && query.data.length > 0"
             fxLayout="row | wrap"
             fxLayoutAlign="start start"
             class="p8">
      <doc-card *ngFor="let template of query.data"
                [doc]="template">
        <button mat-menu-item
                (click)="view(template)">View</button>
        <button mat-menu-item
                (click)="edit(template)">Edit</button>
        <button mat-menu-item
                class="color-warn"
                (click)="remove(template)">Remove</button>
        <mat-divider></mat-divider>
        <button mat-menu-item
                (click)="clone(template)">Clone</button>
        <button mat-menu-item
                (click)="generate(template)">Generate</button>
      </doc-card>
    </section>
  </async-container>
</section>
